<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header"> <h3 style="color:white"> <i class="fas fa-heart" style="color:red"></i>&nbsp;<span style="color:red">Desi</span> Chinese</h3>
  </div>
  <ul class="list-unstyled">
    <li routerLinkActive="active"> <a routerLink="/user/employee"><i class="fas fa-user"></i> &nbsp; Employee List</a></li>
    <li routerLinkActive="active"> <a routerLink="/user/sm"><i class="fas fa-user"></i> &nbsp; Stock Manager List</a></li>
    <li routerLinkActive="active"> <a routerLink="/user/branch"><i class="fas fa-user"></i> &nbsp; Branch List</a></li>
    <li routerLinkActive="active"> <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false"
        class="dropdown-toggle"><i class="fas fa-utensils"></i> &nbsp; Food Details</a>
      <ul class="collapse list-unstyled" id="reportSubmenu">
        <li routerLinkActive="active"> <a [routerLink]="['/user/ingredient-cat']">Ingredeints Category</a> </li>
        <li routerLinkActive="active"> <a [routerLink]="['/user/unit']">Ingredients Unit</a> </li>
        <li routerLinkActive = "active"> <a [routerLink] = "['/user/ingredient']">Ingredeints</a> </li>
          <li routerLinkActive = "active"> <a [routerLink] = "['/user/food-cat']">Food Category</a> </li>
          <li routerLinkActive = "active"> <a [routerLink] = "['/user/food-list']">Food List</a> </li>
          <li routerLinkActive = "active"> <a [routerLink] = "['/user/popular-food']">Popular Food List</a> </li>
      </ul>
    </li>
    <li routerLinkActive="active"> <a href="#reportSubmenu4" data-toggle="collapse" aria-expanded="false"
      class="dropdown-toggle"><i class="fas  fa-cogs"></i> &nbsp; Mode Details</a>
    <ul class="collapse list-unstyled" id="reportSubmenu4">
      <li routerLinkActive="active"> <a [routerLink]="['/user/payment']">Payment Mode List</a> </li>
      <li routerLinkActive="active"> <a [routerLink]="['/user/delivery']">Delivery Mode List</a> </li>
    </ul>
  </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/billing']"><i class="fas fa-shopping-cart"></i>&nbsp; Billing List</a> </li>
    <li routerLinkActive="active" data-toggle="modal" data-target="#addWaiter" (click)="getDiscount()"><a>(%) &nbsp; Update Dine-in Charges</a> </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/session']"><i class="fas fa-chart-bar"></i>&nbsp; Session List</a> </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/report']"><i class="fas fa-file-alt"></i>&nbsp; Ingredeints Report</a> </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/sales-report']"><i class="fas fa-shopping-cart"></i>&nbsp; Sales Report</a> </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/employee-wise']"><i class="fas fa-shopping-cart"></i>&nbsp; Employee Wise Sales Report</a> </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/stock-list']"><i class="fas fa-chart-bar"></i>&nbsp; Stock List</a> </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/stock-in']"><i class="fas fa-shopping-cart"></i>&nbsp; Stock In List</a> </li>
    <li routerLinkActive="active"> <a [routerLink]="['/user/stock-out']"><i class="fas fa-utensils"></i>&nbsp; Stock Out List</a> </li>
    <li routerLinkActive="active"> <a href="#rankingSubmenu" data-toggle="collapse" aria-expanded="false"
      class="dropdown-toggle"><i class="fas fa-cogs"></i> &nbsp; Settings</a>
    <ul class="collapse list-unstyled" id="rankingSubmenu">
      <li routerLinkActive="active"> <a [routerLink]="['/user/change-pass']">Change Password</a> </li>
      <li routerLinkActive="active" (click)="logout()"> <a>Logout</a> </li>
    </ul>
  </li>
  </ul>
</nav>


<div id="addWaiter" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
aria-labelledby="myLargeModalLabel" aria-hidden="true" #closeAddModal>
<div class="modal-dialog modal-lg">
  <div class="modal-content" style="padding:2%">
    <form id="subform3" role="form" #subForm3="ngForm">
      <div class="row">
        <div class="col-12">
          <h5>Update Dine-in Service Charge, CGST, SGST (%)</h5>
        </div>
        <ng-container *ngIf="loading; else notLoading">
          <p style="margin-left: 39%;
          color: green;
          font-weight: bold;">Loading Current Service Charge ...</p> 
        </ng-container>
        <ng-template #notLoading>

          <div class="col-sm-6">
            <div class=" form-group position-relative">
              <label>Service Charges</label>
              <input type="text" class="form-control mb-4" placeholder="Unit Name" name="Cname" [(ngModel)]="discount"
                required />
            </div>
          </div>


          <div class="col-sm-6">
            <div class=" form-group position-relative">
              <label>SGST</label>
              <input type="text" class="form-control mb-4" placeholder="Unit Name" name="pname" [(ngModel)]="SGST"
                required />
            </div>
          </div>
          <div class="col-sm-6">
            <div class=" form-group position-relative">
              <label>CGST</label>
              <input type="text" class="form-control mb-4" placeholder="Unit Name" name="qname" [(ngModel)]="CGST"
                required />
            </div>
          </div>
        </ng-template>

      </div>
      <div class="row">
        <div class="col-12" style="text-align: center;">
          <button type="button" class="btn btn-success" (click)="update_discount()" [disabled]="loading"
            >SUBMIT</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>
